body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: linear-gradient(to top left, #f49ac1, #d37fb9, #b39ddb, #9865b7);
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 90%;
  max-width: 400px;
  margin: 0 auto;
  font-family: sans-serif;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 40px;
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.4);
  background-color: #f9f9f9;
  font-size: 1.2rem;
}

button {
  font-size: 1.2rem;
  padding: 15px 30px;
  margin: 10px;
  cursor: pointer;
  border: none;
  transition: background-color 0.2s;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  flex: 1;
  flex-basis: 50%; 
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  width: 100%;
}

.increment {
  background: linear-gradient(to bottom right, #4fd6cc, #3ac1ba, #27acb3, #1c979d, #0089b7);
  background-position: bottom;
}

.increment:active {
  background: linear-gradient(to bottom right, #3496a5, #006d7b);
  background-position: bottom;
}

.reset {
  background: linear-gradient(to bottom right, #ff776f, #ff5c50, #ff4032fd, #f7483f);
  background-position: bottom;
}

.reset:active {
  background: linear-gradient(to bottom right, #c7544d, #a2331d);
  background-position: top;
}

.counter {
  font-size: 24px;
  margin-top: 10px;
  font-weight: bold;
}

.counter.zero {
  color: #ee68b6;
  font-weight: bold;
}

@media (max-width: 600px) {
  .App {
    padding: 20px;
  }
  
  button {
    font-size: 1rem;
    padding: 10px 20px;
    margin: 5px;
  }

  .counter {
    font-size: 20px;
    margin-top: 5px;
  }
}

.joke {
  margin-top: 20px;
  font-size: 18px;
  font-style: italic;
  color: #3f51b5;
  max-width: 80%;
  text-align: center;
  height: 60px;
  min-height: 60px;
  overflow: hidden;
}